* {
  box-sizing: border-box;

}


body {
  color: #fff;
  background-color: #141111;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

h1 {font-size: 1.5em;}
ul {list-style: none;}

.container {
  max-width: 1400px;
  margin: auto;
}


.header {
  background-color: #0E0C0C;
}
.header nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header .container {
  padding: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}


.header__div-ul {
  margin: 0;
  margin-left: -4em;
}


.header li {
  display: inline-block;
  padding: 25px;
  background-color: #1B1818;
  border-radius: 12px;
  margin-left: 30px;
}



.header a {
  text-decoration: none;
  color: #fff;
}
header a:hover {
  transition: all 1s;
  color: rgb(62, 61, 61);
}
header button {
  margin-top: 20px;
}

section img {
  width: 15em;
  margin-top: 3em;

}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
}
section .container {
  width: 100%;
  height: 800px;
}

section .spide {
  float: left;
  margin: 0;
  margin-left: 70px;
  width: 200px;
  display: block;
  animation: spide 5s infinite;
}
section .uno {
  margin: 0;
  padding-top: 100px;
}
section .mati {
  margin-left: -280px;
  margin-top: 220px;
} 
section h1 {
  display: flex;
}
section .uno {
  padding-left: 90px;
}
section .dos {
  padding-left: 30px;
}
footer {
  padding: 0.2em;
  background-color: #0E0C0C;
}
footer p {
  color: #716C6C;
  display: flex;
  justify-content: center;
}



@media (min-width: 720px) {
  footer p {
    margin-left: 85%;
  }
  header button {
    margin-left: 20px;
  }
  section .uno {
    margin-left: 470px;
  }
  section h1 {
    margin-left: 470px;
  }
}
@media (min-width: 1000px) {
 section .spide {
  width: 300px;
 }
 section .mati {
  margin-left: -480px;
 }
}


@keyframes spide {
   0% {
    transform: translateY(-50px);
   }
   30% {
    transform: translateY(0) rotate
    (5deg);
   }
   50% {
    transform: rotate(-5deg);
   }
   75% {
    transform: rotate(5deg);
   }
   100% {
    transform: translateY(-50px);
   }
}