* {
  box-sizing: border-box;
}
body {
    color: #fff;
    background-color: #141111;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

  ul {list-style: none;}

  .container {
    max-width: 1400px;
    margin: auto;
  }
  
  
  .header {
    background-color: #0E0C0C;
  }
  .header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header .container {
    padding: 3.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .header__div-ul {
    margin: 0;
    margin-left: -3.5em;
  }
  
  
  .header li {
    display: inline-block;
    padding: 25px;
    background-color: #1B1818;
    border-radius: 12px;
    margin-left: 20px;
  }
  .Proyecto {
    margin-top: 10px;
  }
   header button {
    margin-top: 20px;
    margin-left: 30px;
   }
  
  
  
  .header a {
    text-decoration: none;
    color: #fff;
  }
  header a:hover {
    transition: all 1s;
    color: rgb(62, 61, 61);
  } 
  
  .cono { margin-top: 2.5em;}
  section {
   height: 90vh;
  }
   section h1 {
    font-size: 2.5em ;
    margin-left: 0.4em;
   }
   section p {
    margin-left: 1em;
    font-size: 1.1em;
   }
   section p i {
    font-size: 1.5em;
   }
   section a {
    color: #fff;
   }
   section a:hover {
    transition: all 1s;
    color: rgb(62, 61, 61);
   }
   footer {
    padding: 0.2em;
    background-color: #0E0C0C;
  }
  footer p {
    color: #716C6C;
    display: flex;
    justify-content: center;
  }
  .container .bear-text {
    justify-content: space-between;
  }


  button {
    margin-left: 50px;
  }
   
  @media (min-width: 720px) {
    footer p {
      margin-left: 85%;
    }
    section h1 {
      font-size: 3em ;
      margin-left: 1em;
     }
     section p {
      margin-left: 2.3em;
      font-size: 1.3em;
     }
     button {
      margin-left: none;
     }
  }